<div id="header" class="computer-header">

    <a id="menu-button" href="javascript:void(0);" class="icon" onclick="menuButton()">
        <i class="fa fa-bars"></i>
    </a>

    <div class="top">

        <div id="logo">
            <span class="image avatar"> <img src="../images/avatar.webp" alt="logo"/> </span>
            <h1 id="title"> Yehor Savchenko </h1>
            <p> Software Engineer III</p>
        </div>

        <div id="nav">
            <ul>
                <li>
                    <a href=<%= intro %> id="top-link">
                        <i class="fas fa-home"></i>
                        <span> Intro </span>
                    </a>
                </li>
                <li>
                    <a href="<%= about %>" id="about-link">
                        <i class="fa fa-user"></i>
                        <span class=""> About Me </span>
                    </a>
                </li>
                <li>
                    <a href="<%= portfolio %>" id="portfolio-link">
                        <i class="fa fa-th"></i>
                        <span> Portfolio </span>
                    </a>
                </li>
                <li>
                    <a href="../blog" id="contact-link">
                        <i class="fa fa-blog"></i>
                        <span> Blog </span>
                    </a>
                </li>
                <li>
                    <a href="../blog-admin" id="contact-link">
                        <i class="fa fa-blog"></i>
                        <span> Blog Admin</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="bottom">
        <ul class="icons">
            <li>
                <a href="#">
                    <i class="fad fa-twitter"></i>
                    <span> Twitter </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fad fa-facebook-f"></i>
                    <span> Facebook </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fad fa-github"></i>
                    <span> GitHub </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span> Instagram </span>
                </a>
            </li>
        </ul>
    </div>
</div>