<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yehor Savchenko</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <script src="https://kit.fontawesome.com/2a5be4e40a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/blog.css"/>
</head>
<script src="/javascripts/menubutton.js"></script>
<body>


<%- include('inc/header')%>


<div id="main">

    <section id="article" class="full_article">
        <div class="container">
            <header>
                <h3 class="alt"><strong><%= title %></strong></h3>
                <p><%- full_description %></p>
            </header>
        </div>
    </section>

</div>

</body>
</html>