<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yehor Savchenko</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <script src="https://kit.fontawesome.com/2a5be4e40a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>

<script src="/javascripts/menubutton.js"></script>
<body>
<%- include('inc/header') %>
<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one">
        <div class="container">

            <header>
                <h2 class="alt">Hi! I'm <strong>Yehor</strong>, a <strong>Software Engineer III</strong> <br/></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry<br/>
                    . Lorem Ipsum has been the industry's standard dummy</p>
            </header>

            <footer>
                <a href="#about" class="button-33" role="button"><strong>More information</strong></a>
            </footer>

        </div>
    </section>

    <!-- About Me -->
    <section id="about" class="two">
        <div class="container">

            <header>
                <h2>About Me</h2>
            </header>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into elect</p>

        </div>
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="three">
        <div class="container">

            <header>
                <h2>Portfolio</h2>
            </header>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into elect</p>

        </div>
    </section>

</div>

</body>
</html>